@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir.eot?#iefix') format('embedded-opentype'),  url('../fonts/Avenir.woff') format('woff'), url('../fonts/Avenir.ttf')  format('truetype'), url('../fonts/Avenir.svg#Avenir') format('svg');
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #12182E;
}

body {    

    font-family: 'Roboto', sans-serif;
    background-color:#12182E;
    background-position: cover;
    background-repeat: no-repeat;
    background-position: 0px 300px;
}

/*Navigation bar*/

header {
    top: 0;
    left: 0;
    right: 0;
    height: 55px;
    position: fixed;
    display: flex;
    background-color: #12182E;
    background-image: linear-gradient(#12182E, #606473);
    align-items: center;

}

.parent {

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 0.8fr repeat(3, 2fr) 0.3fr;
    grid-column-gap: 0px;
    grid-row-gap: 150px; 
    width: 100%;
    height: 100%;

    }
    
.div1 { grid-area: 1 / 1 / 2 / 3; }
.div2 { grid-area: 2 / 1 / 3 / 3; }
.div3 { grid-area: 3 / 1 / 4 / 3; }
.div4 { grid-area: 4 / 1 / 5 / 3; }
.div5 { grid-area: 5 / 1 / 6 / 3; } 




.nav-links li {
    list-style: none;
    display: inline-block;
    padding: 10px 35px;
}

.nav-links li a {
    transition: all 0.3s;
}

.nav-links li a:hover {
    color: #3FA535;
}


li, a {
    font-family: 'Avenir LT Std', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #ffffff;
    text-decoration: none;
    margin: 10px;
    list-style: none;
    display: inline-block;
}

  .logo {
    cursor: pointer;
    max-width: auto;
  }

@media only screen and (min-width: 600px){


}